.pagination__list
    list-style: none
    overflow: hidden
    margin-bottom: 1.25em
    font-size: 1em

.pagination__item
    float: left
    background: $rojo-fuerte
    color: $blanco
    font-size: 1.6rem
    margin-top: 1em
    margin-right: 0.6em
    line-height: 1.6rem

.pagination__item.disabled
    font-size: 1.6rem
    padding: 0.62em 0.9375em
    line-height: 1.6rem

.pagination__link
    background: $rojo-debil
    color: $blanco
    line-height: 1.6rem
    display: inline-block
    padding: 10px 15px

.pagination__link:hover
    background: $negro
    text-decoration: none

.pagination .wp-pagenavi
    margin-bottom: 15px
    margin-top: 15px

.pagination .wp-pagenavi .pages,
.pagination .wp-pagenavi span
    background: $negro
    color: #fff
    margin-right: 7px
    font-size: 1.6rem
    line-height: 1.6rem
    padding: 10px 15px

.pagination .wp-pagenavi a
    background: $rojo-debil
    color: $blanco
    font-size: 1.6rem
    display: inline-block
    padding: 10px 15px
    margin-right: 7px

.pagination .wp-pagenavi a:hover
    background: #000
    text-decoration: none
