.container-single-aside
    display: grid
    padding: 0px 10px
    padding-top: 50px

.main-single-post
    background: #fff
    margin-bottom: 15px

.single-entry-section
    display: grid
    grid-auto-flow: dense

.single-post__g-date-icon,
.single-post__g-autor-icon
    margin-right: 5px

.single-post-autor__img-ctn
    width:90px
    margin: 0px auto
    border-radius: 50%
    overflow: hidden

.single-post-autor__img
    width: 100%

.single-post-autor__name
    font-family: $opensans
    font-weight: 400
    font-size: 1.5rem
    display: block
    text-align: center

.single-post
    font-family: $opensans
    font-weight: 400
    font-size: 1.6rem
    line-height: 2em
    margin-top: 10px

.single-post__title
    font-family: $lato
    font-weight: 700
    font-size: 3.5rem
    text-align: left
    margin-bottom: 8px

.single-post__img-ctn
    max-width: 1000px

.single-post__img
    width: 100%

.single-post__groups
    display: flex
    flex-direction: row
    align-content: flex-start
    margin-bottom: 15px
    color: #999996
    font-size: 1.8rem

.single-post__group-autor
    margin-left: 15px

    
        