@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;500&family=Lato:wght@400;700&family=McLaren&family=Open+Sans:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #FAFAFA;
}

main {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.container-lg {
  max-width: 1200px;
  margin: 0px auto;
}

.header__first-row {
  background-color: #FAFAFA;
}

.header__first-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
}

.content-left {
  display: flex;
  justify-content: flex-start;
}

.content-left__logo_small {
  color: #900C3F;
  font-family: "McLaren", cursive;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px;
}

.content-left__phrase {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.content-left_no-margin {
  margin-left: 0px;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.content-right__link {
  font-family: "Barlow", sans-serif;
  font-family: 500;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2em;
  color: black;
  text-decoration: none;
}

.content-right__link:hover {
  text-decoration: underline;
}

.header__second-row {
  background-color: #900C3F;
  padding: 1rem 0;
}

.content-right_no-margin {
  margin-right: 0px;
}

.content-left .custom-logo {
  width: 80px;
  height: 80px;
}

.content-left__phrase_right {
  margin-left: 6rem;
}

.content-left__phrase-h1 {
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 3.2rem;
  color: #FAFAFA;
}

.content-left__phrase-h3 {
  font-family: "McLaren", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #C8A49C;
}

/* ---------------------------------------slide--------------------------------------- */
.header__third-row {
  z-index: 0;
}

.swiper-slide .title,
.swiper-slide .subtitle,
.swiper-slide .text {
  font-family: "Open Sans", sans-serif;
  color: #FAFAFA;
}

.swiper-slide .title {
  font-size: 4rem;
  font-weight: 500;
}

.swiper-slide .subtitle {
  font-size: 2rem;
  font-weight: 400;
}

.swiper-slide .text {
  font-size: 1.3rem;
  font-weight: 300;
}

/* ----------------------------------------menu---------------------------------------- */
.header__fourth-row {
  background-color: #C70039;
  z-index: 1;
}
.header__fourth-row .nav-bar {
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 2.4rem;
}
.header__fourth-row .nav-bar-text {
  font-family: "McLaren", cursive;
  margin-left: 10px;
}
.header__fourth-row .menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 0px;
  margin-left: -200%;
  transition: all 1s;
}
.header__fourth-row .menu li a {
  display: block;
  padding: 20px;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
.header__fourth-row .menu li a:hover {
  background-color: rgb(85, 84, 84);
}
.header__fourth-row .menu li .sub-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s;
}
.header__fourth-row .menu li .sub-menu li a {
  display: block;
  padding: 20px;
  padding-left: 50px;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
.header__fourth-row .menu li .sub-menu li a:hover {
  background-color: rgb(85, 84, 84);
}
.header__fourth-row .show {
  margin-left: 0px;
}
.header__fourth-row .menu__link_sm {
  padding: 14px;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 40%;
  line-height: 1.3;
}

.parallax-bg {
  background-image: url("../img/background-slider2.jpg");
}

.featured__grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 10px;
}

.fa-star {
  color: #C70039;
  margin-right: 5px;
}

.featured__title,
.categories__title {
  margin: 2rem 0px;
  text-align: center;
  color: #C70039;
  font-size: 2rem;
}

.article {
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}

.article__title {
  text-align: left;
}

.article:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.article__text {
  color: #333;
  padding: 10px 8px;
}

.the-permalink {
  text-decoration: none;
  color: #333;
}
.the-permalink:hover {
  text-decoration: underline;
}

.article__title {
  margin-bottom: 5px;
  font-size: 2rem;
}

.date {
  text-align: left;
  margin: 10px 0px;
  color: #C70039;
  font-size: 1.5rem;
}

.date__icon {
  font-size: 2rem;
  margin-right: 8px;
}

.article__extract {
  font-size: 1.5rem;
  text-align: justify;
}

.article__image {
  width: 100%;
  height: 145px;
  overflow: hidden;
}

.article__image img {
  width: 100%;
}

.article__footer.article__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  color: #C70039;
  font-size: 1.7rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 3px;
}

.button span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.button span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 40%;
}

.button__icon {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.button svg {
  color: #fff;
  width: 35px;
  height: 35px;
}

.button:hover {
  color: #fff;
  background: rgba(199, 0, 56, 0.8745098039);
}

.button:hover .button__icon {
  left: calc(100% - 50px);
  opacity: 1;
}

.button:hover span {
  left: 20px;
}

.pagination__list {
  list-style: none;
  overflow: hidden;
  margin-bottom: 1.25em;
  font-size: 1em;
}

.pagination__item {
  float: left;
  background: #900C3F;
  color: #FAFAFA;
  font-size: 1.6rem;
  margin-top: 1em;
  margin-right: 0.6em;
  line-height: 1.6rem;
}

.pagination__item.disabled {
  font-size: 1.6rem;
  padding: 0.62em 0.9375em;
  line-height: 1.6rem;
}

.pagination__link {
  background: #C70039;
  color: #FAFAFA;
  line-height: 1.6rem;
  display: inline-block;
  padding: 10px 15px;
}

.pagination__link:hover {
  background: #333;
  text-decoration: none;
}

.pagination .wp-pagenavi {
  margin-bottom: 15px;
  margin-top: 15px;
}

.pagination .wp-pagenavi .pages,
.pagination .wp-pagenavi span {
  background: #333;
  color: #fff;
  margin-right: 7px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 10px 15px;
}

.pagination .wp-pagenavi a {
  background: #C70039;
  color: #FAFAFA;
  font-size: 1.6rem;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 7px;
}

.pagination .wp-pagenavi a:hover {
  background: #000;
  text-decoration: none;
}

.category {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.categories {
  margin: 10px 0;
}

.categories__grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px 10px;
}

.category__image-box {
  width: 320px;
  height: 180px;
  /* overflow: hidden */
}

.category__image {
  width: 100%;
}

.category__name {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #C70039;
  color: #FAFAFA;
  padding: 12px;
}

.aside {
  width: 100%;
  margin-top: 96px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.widget {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  background-color: #FFF;
  padding: 15px 15px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}
.widget:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.widget__title {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 10px;
  color: #C70039;
}

.wp-block-latest-posts__list {
  margin-top: 5px;
  list-style: none;
}

.wp-block-latest-posts__post-title {
  display: inline-block;
  color: #333;
  font-size: 1.4rem;
  opacity: 0.9;
  margin-bottom: 5px;
}

.wp-block-latest-posts__post-title:hover {
  cursor: pointer;
  color: #C70039;
  opacity: 1;
  text-decoration: underline;
}

.footer-menu {
  background-color: #C70039;
  width: 100vw;
}
.footer-menu .menu {
  background-color: #C70039;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  list-style: none;
  width: 100%;
  display: flex;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.footer-menu .menu__link {
  display: block;
  padding: 15px;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer-menu .menu__link:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

.footer-autor {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px;
}

.social-media {
  background: rgb(51, 51, 51);
  padding: 40px 0;
}
.social-media__link {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  width: 100px;
  padding: 15px 0;
  display: block;
  margin: 0 20px;
  border-radius: 3px;
}
.social-media .twitter:hover {
  background: #55acee;
}
.social-media .facebook:hover {
  background: #3b5998;
}
.social-media .youtube:hover {
  background: #cd201f;
}
.social-media .github:hover {
  background: #666666;
}
.social-media .instagram:hover {
  background: #3f729b;
}

.social-media-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1199.98px) {
  .header__fourth-row .nav-bar {
    display: none;
  }
  .header__fourth-row .menu {
    background-color: #C70039;
    margin-left: 0px;
    height: auto;
    display: flex;
  }
  .header__fourth-row .menu li {
    position: relative;
  }
  .header__fourth-row .menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
  .header__fourth-row .menu li a:hover {
    background-color: rgba(0, 0, 0, 0.26);
  }
  .header__fourth-row .menu li .sub-menu {
    position: absolute;
    top: 56px;
    height: auto;
    width: 200px;
    overflow: visible;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }
  .header__fourth-row .menu li .sub-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.26);
  }

  .article__main {
    grid-column: span 2;
  }

  .article__image.article__main {
    height: 225px;
  }

  .article__single {
    grid-column: span 3;
  }

  .article__image.article__single {
    height: 450px;
  }
}
@media (min-width: 991.99px) {
  .container-single-aside {
    grid-template-columns: 80% 20%;
  }

  .single-post {
    padding: 0px 20px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .container-single-aside {
    grid-template-columns: 1fr;
  }

  .aside {
    margin-top: 10px;
  }

  .widget {
    width: 80%;
    margin: 15px auto;
  }

  .single-post {
    padding: 0px;
  }
}
@media (min-width: 767.99px) {
  .single-post-autor {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 15px;
  }

  .single-entry-section {
    grid-template-columns: 15% 85%;
  }
}
@media (max-width: 767.98px) {
  .single-post-autor {
    display: none;
  }

  html {
    font-size: 50%;
  }
}
@media (max-width: 575.98px) {
  .header__first-row {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header__first-row .content-left {
    display: none;
  }
  .header__first-row .content-right {
    justify-content: center;
  }

  .content-left__phrase-h1 {
    font-size: 2.5rem;
  }

  .content-left__phrase-h3 {
    font-size: 1.5rem;
  }

  .social-media-container {
    flex-wrap: wrap;
  }

  .social-media__link {
    width: 80px;
    margin: 0px;
  }
}
@media (max-width: 399.8px) {
  .header__third-row {
    display: none;
  }

  .social-media {
    padding: 20px 0px;
  }
  .social-media__link {
    width: 70px;
    padding: 10px 0px;
  }
}
.container-single-aside {
  display: grid;
  padding: 0px 10px;
  padding-top: 50px;
}

.main-single-post {
  background: #fff;
  margin-bottom: 15px;
}

.single-entry-section {
  display: grid;
  grid-auto-flow: dense;
}

.single-post__g-date-icon,
.single-post__g-autor-icon {
  margin-right: 5px;
}

.single-post-autor {
  font-family: "McLaren", cursive;
}
.single-post-autor .avatar {
  cursor: pointer;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: solid #d6dad6;
}
.single-post-autor .avatar:hover {
  border: solid #900C3F;
}
.single-post-autor h3 {
  padding-bottom: 0px !important;
  font-weight: 400;
  font-size: 1.6rem;
  display: block;
  text-align: center;
}

.single-post {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2em;
  margin-top: 10px;
}

.single-post__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: left;
  margin-bottom: 8px;
}

.single-post__groups {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-bottom: 15px;
  color: #999996;
  font-size: 1.8rem;
}

.single-post__group-autor {
  margin-left: 15px;
}/*# sourceMappingURL=style.css.map */